body {
    background-color: black;
}

#symbol {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#sun {
    position: absolute;
    width: 30vmin;

    /*margin-top: -16vh;*/
    /*margin-left: -15vmin;*/
    top: calc(50vh - 16vh);
    left: calc(50vw - 15vmin);
}

.logo {
    position: absolute;
    width: 15vmin;

    /*margin-top: -16vh;
	margin-left: -15vmin;*/
    top: calc(50vh - 8vmin);
    left: calc(50vw - 7.5vmin);

    /* Chrome, Safari 5 */
    -webkit-animation: myOrbit 5s linear infinite;
    /* Firefox 5-15 */
    -moz-animation: myOrbit 5s linear infinite;
    /* Opera 12+ */
    -o-animation: myOrbit 5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Safari 5 */
    animation: myOrbit 5s linear infinite;
}

#logo-fb {
	animation-delay: -1s;
}

#logo-google {
	animation-delay: -2s;
}

#logo-spotify {
	animation-delay: -3s;
}

#logo-youtube {
	animation-delay: -4s;
}

@-webkit-keyframes myOrbit {
    from {
        -webkit-transform: rotate(0deg) translateX(40vmin) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateX(40vmin) rotate(-360deg);
    }
}

@-moz-keyframes myOrbit {
    from {
        -moz-transform: rotate(0deg) translateX(40vmin) rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg) translateX(40vmin) rotate(-360deg);
    }
}

@-o-keyframes myOrbit {
    from {
        -o-transform: rotate(0deg) translateX(40vmin) rotate(0deg);
    }

    to {
        -o-transform: rotate(360deg) translateX(40vmin) rotate(-360deg);
    }
}

@keyframes myOrbit {
    from {
        transform: rotate(0deg) translateX(40vmin) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(40vmin) rotate(-360deg);
    }
}