body {
    background-color: black;
    min-height: 100vh;
}

#console {
    display: none;
    color: #00FF00;
    font-family: monospace;

    width: 60vw;

    margin-left: 20vw;
    padding-top: calc(50vh + 50vmin);
    overflow-wrap: normal;
}

@keyframes console_top {
    from {
        padding-top: calc(50vh + 50vmin);
    }

    to {
        padding-top: 50vh;
    }
}

input[type="text"] {
    display: inline-block;
    width: calc(60vw - 13em);
    border: none;
    background: black;
    padding: 0 .5em;

    color: #00FF00;
    font-family: monospace;
}

input[type="text"]:focus {
    background: black;
    outline: none;
}

#symbol {
    /*width: 100vw;
    min-height: 100vh;
    position: relative;*/
}

#sun {
    position: absolute;
    width: 30vmin;

    /*margin-top: -16vh;*/
    /*margin-left: -15vmin;*/
    top: calc(50vh - 14.28vmin);
    left: calc(50vw - 15vmin);

    /*animation: sun_enlarge 2s linear 2s forwards;*/
}

.logo {
    display: none;
    position: absolute;
    width: 15vmin;

    /*margin-top: -16vh;
	margin-left: -15vmin;*/
    top: calc(50vh - 7.3vmin);
    left: calc(50vw - 7.5vmin);

    /*animation: myOrbit 5s linear infinite;*/
}

#logo-github {}

#logo-fb {}

#logo-google {}

#logo-spotify {}

#logo-youtube {}

@keyframes github-init {
    from {}

    to {
        transform: translateX(40vmin);
    }
}

@keyframes fb-init {
    from {}

    to {
        transform: translate(calc(40vmin*0.30901699437), calc(40vmin*0.95105651629));
    }
}

@keyframes google-init {
    from {}

    to {
        transform: translate(calc(40vmin * -0.80901699437), calc(40vmin * 0.58778525229));
    }
}

@keyframes spotify-init {
    from {}

    to {
        transform: translate(calc(40vmin*-0.80901699437), calc(40vmin*-0.58778525229));
    }
}

@keyframes youtube-init {
    from {}

    to {
        transform: translate(calc(40vmin*0.30901699437), calc(40vmin*-0.95105651629));
    }
}

@keyframes myOrbit {
    from {
        transform: rotate(0deg) translateX(40vmin) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(40vmin) rotate(-360deg);
    }
}

@keyframes myOrbit {
    from {
        transform: rotate(0deg) translateX(40vmin) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(40vmin) rotate(-360deg);
    }
}

@keyframes sun_shrink {
    from {
        width: 30vmin;
        top: calc(50vh - 14.28vmin);
        left: calc(50vw - 15vmin);
    }

    to {
        width: 20vmin;
        top: 20vh;
        left: calc(50vw - 10vmin);
    }
}

@keyframes logo_enlarge {
    from {
        width: 15vmin;
        top: calc(50vh - 7.3vmin);
        left: calc(50vw - 7.5vmin);
        transform: rotate(0deg) translateX(40vmin) rotate(0deg);
    }

    to {
        width: 30vmin;
        top: calc(50vh - 14.6vmin);
        left: calc(50vw - 15vmin);
        transform: rotate(360deg) translateX(calc(50vmax + 15vmin)) rotate(-360deg);
    }
}